.todo__list_remove{
    width: 15px;
    height:15px;
    float: right;
    opacity: 0.1;
}

.todo__list_remove:hover{
    width: 15px;
    height:15px;
    opacity: 1;
}

.filter{
    filter:opacity(0.8);
    background-color: rgba(240, 241, 241, 0.432);
}

.filter:hover{
    background-color: rgba(240, 241, 241, 0.24);
}

