.active{
    border: 1px solid black
}

.add_list{
    margin-top: 20px;
}

.add_list_popup_close{
    float: right
}

.add_list_popup_colors{
    text-align: center;
}

.icon_close{
    float: right
}

