body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo{
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.todo_sidebar{
  width: 500px;
  padding: 20px 30px;
}

.todo_main{
  background-color: wheat
}

.todo__list li{
  list-style: none;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 5px;
}

.todo__list li:hover{
  background-color: wheat;
  
}

li.active{
  background-color: aqua;
}

li.noactive{
  background-color: white
}